extends layout

block content

  div(style='height:50px;')

  div.row
    h1 Welcome
    p This tool will help you to prepare your word list with their meaning and example sentences. And also you can add these words to your memrise courses.
    p Firstly you have to login memrise to fetch the list of your editable courses. After login, search tool will appear and by searching the meaning of the word, you will select the desired meaning for word and you will add the word to the desired course level.

  div(style='height:25px;')

  form#loginForm.form-horizontal
    div.form-group
      p Enter your memrise username and password
    div.form-group
      div.col-md-2
        label(for="username") Username
      div.col-md-10
        input#username.form-control(type="text")
    div.form-group
      div.col-md-2
        label(for="password") Password
      div.col-md-10
        input#password.form-control(type="password")
    div.form-group
      div.col-md-10 &nbsp;
      div.col-md-2
        button.btn.btn-primary.btn-block(type="button", value="Login", onclick="Login();") Login

  form#searchForm.form-horizontal(style='display:none;')
    div.form-group
      p Select the course in which the word will be added
      p Enter the format of the course
      p Enter the word that you want to search and hit Search button
    div.form-group
      div.col-md-2
        label Course
      div.col-md-4
        select#course.form-control(onchange="CourseSelected()")
      div.col-md-4
        select#level.form-control
      div.col-md-2
    div.form-group
      div.col-md-2
        label(for="format") Format
      div.col-md-8
        input#format.form-control(type="text", value="word,definition,,example")
      div.col-md-2
    div.form-group
      div.col-md-2
        label(for="word") Word
      div.col-md-8
        input#word.form-control(type="text")
      div.col-md-2
        div.button-group
          button.btn.btn-primary.btn-block(type="button", value="Search", onclick="Search();") Search

  form#searchResult.form-horizontal(style='display:none;')
    div.form-group
      div.col-md-2
        label Language
      div.col-md-2.col-xs-4
        div.radio
          label
            input#english(type="radio", name='language', value='english', onchange="LanguageChange()")
            | Oxford
      div.col-md-2.col-xs-4
        div.radio
          label
            input#cambridge(type="radio", name='language', value='cambridge', onchange="LanguageChange()")
            | Cambridge
      div.col-md-2.col-xs-4
        div.radio
          label
            input#turkish(type="radio", name='language', value='turkish', onchange="LanguageChange()")
            | Turkish
      div.col-md-6
    div#meaningResult.form-group(style="display:none;")
      div.row
        div.col-md-2
          label(for="meaning") Meaning In Dictionary
        div.col-md-8
          select#meaning.form-control(onchange="WordSelected();")
        div.col-md-2
      div.row
        div.col-md-2
          label(for="definition") Definition
        div.col-md-8
          input#definition.form-control(type="text")
        div.col-md-2
      div.row
        div.col-md-2
          label(for="example") Example
        div.col-md-8
          input#example.form-control(type="text")
        div.col-md-2
          button.btn.btn-primary.btn-block(type="button", value="AddWord", onclick="AddWord();") Add

  form#wordListForm.form-horizontal(style='display:none;')
    div.form-group
      div.col-md-12
        label Word List
      div#wordList.col-md-12.word-list
    div.form-group
      div.col-md-10 &nbsp;
      div.col-md-2
        button.btn.btn-primary.btn-block(type="button", value="AddToMemrise", onclick="AddToMemrise();") Add To Memrise
