doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-theme.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/knockout.debug.js')
    script(src='/javascripts/knockout.mapping-latest.debug.js')
    script(src='/javascripts/promise-7.0.4.min.js')

    block head

  body
    div.container
      block content

    div#loadingModal.modal.fade(role="dialog")
      div.modal-dialog(role="document")
        div
          img(src="/images/loading.gif", style='width:10em;')
