doctype html
html
  head
    title= title

    link(rel="stylesheet", href="/stylesheets/skeleton.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/index.js')

  body
    div.container
      block content

    div#loadingModal.reveal-modal(aria-hidden="true", role="dialog", data-reveal)
      p
        In progress ...

    script $('div').show();
