body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, button, select {
  margin-bottom: .5rem;
}

input[type="radio"] {
  margin-top: 0;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.word-list {
  height: 15em;
  overflow-y: scroll;
}

.word-line {
  margin-bottom: 1em;
}

.word-list .word {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.word-list .example {
  font-style: italic;
}
